@media screen and (max-width: 850px) {
    .menu-desktop, .btn-contato {
        display: none;
    }

    header .btn-menu-mobile {
        display: block;
    }

    header .interface {
        display: flex;
        flex-direction: row;
        padding: 10px 30px;
    }

    .mostruario-produtos {
        display: flex;
        flex-wrap: wrap; 
        gap: 20px; 
        justify-content: center;
        margin-top: 50px;
    }

    .mostruario-produtos .card-produto {
        width: calc(100% / 2 - 20px); 
        min-width: 250px;
    }
}

@media screen and (max-width: 499px) {

    .mostruario-produtos {
        height: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column; 
        gap: 20px; 
    }

    .mostruario-produtos .card-produto {
        width: 100%; 
        min-width: unset;
    }

    .interface {
        flex-direction: column;
    }

    .txt-carrinho.abrir {
        width: 90%;
        height: 600px;
    }

    .txt-carrinho {
        max-height: 400vh; 
    }
}

@media screen and (max-width: 730px) {
    header {
        position: absolute;
    }

    .mostruario-produtos {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap; 
        gap: 20px; 
        justify-content: center;
    }

    .mostruario-produtos .card-produto {
        width: calc(100% / 2 - 20px); 
        min-width: 250px;
    }

    header.rolagem .btn-menu-mobile div {
        padding: 0px;
    }

    /* Seção de contato */
    .icones-contato {
        width: 110%;
        align-items: center;
        padding-right: 100px;
    }

    .txt-contato {
        width: 100%;
        padding-right: 100px;
    }

    .txt-contato h3 {
        font-size: 30px;
    }
}
