@media screen and (max-width: 850px){
    .menu-desktop, .btn-contato {
        display: none;
    }

    header .btn-menu-mobile {
        display: block;
    }
}

@media screen and (max-width: 580px){

header{
    position:relative;
}

header .interface {
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
}

header.rolagem .btn-menu-mobile div{
    background-color: #fff;
    padding: 0px ;
}

section .hero-site {
   background-color: #fff;
}

.hero-site {
    margin: -10px;
}

.txt-hero{
    margin: 60px;
}

section.hero-site .interface .txt-hero .btn-produtos a button{
    margin: 15px;
    padding: 10px 25px;
    color: #fff;
    font-size: 30px;
    background-color:#000;
    transition: none;
    border-radius: 12px;
    box-shadow: 8px 8px 12px #aaaa;
}

section.hero-site .interface .txt-hero .btn-produtos a button:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.05);
}

.interface, .itens {
    flex-direction: column;
    margin: 0 auto;
}

.txt-itens{
    text-align: center;
}

.item-1, .item-3{
    order: 1;
}

.item-2, .item-4{
    order: 0;
}

.txt-itens{
    margin-bottom: 20px;
}

/*seção de contato*/

.icones-contato {
    width: 110%;
    align-items: center;
}

.txt-contato {
    width: 100%;
    padding-right: 100px; 
}

.txt-contato h3 {
    font-size: 30px;
}

.contato .icones-contato a button {
    color: #fff;
    background-color: #000;
}

.contato .icones-contato button:hover {
    background-color: #000;
    transform: scale(1.05);
}
}