*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}


/*formulario*/

.contatosform {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario {
    margin-top: 50px;
    height: 450px ;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.formulario form {
    max-width: 400px;
    margin: auto;
}

.formulario label {
    display: block;
    margin: 10px 0 5px;
}

.formulario input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button {
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button:hover {
    transform: scale(1.05);
    transition: .5s;
}
