*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

/* sessão produtos*/

.mostruario-produtos {
    max-width: 920px;
    margin: 100px auto; 
}

.titulo1  {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.mostruario{
    max-width: 920px;
    margin: 20px auto;
    box-shadow: 4px 4px 12px ;
    border: 1px solid;
    border-radius: 30px;

    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: space-evenly;
}

.produtos {
    background-color: #fff;
    border-radius: 12px;
    width: 195px;
    height: 350px;
    box-shadow: 4px 4px 12px #aaaa;
    margin: 20px;
    
}

.produtos img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.produtos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 25%;
}

.produtos h1 {
    font-size: 1.2rem;
}

.produtos h2 {
    font-size: .9rem;
    color: #aaaa;
}

.produtos button {
    background-color: #000;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.produtos button:hover {
    transform: scale(1.05);
}

